<!--
  #%L
  Project: hfriedri-demo
  File: logback.xml
  %%
  Copyright (C) 2021 Hfriedri
  %%
  Header of my_license
  #L%
  -->
<configuration>

    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="out"/>
    </root>

</configuration>
